.app__main {
    padding: 3rem 3rem;
}

input, select, button{
    display: block;
    margin: 5px 15px;
}

ul.footer__nav_link {
    display: inline-flex;
    width: 100%;
}

li {
    margin: 0px 10px;
    list-style-type: none;
}

.radio-group input, label {
    display: inline;
}

.val__msg {
    color: #ff7272;
    font-size: small;
    font-style: italic;
    margin: 0px 15px;
}

.form__group_button button {
    display: inline;
}

.summary__section_content span {
    display: block;
    margin-left: 20px;
}